body {
  background-color: #f7f7f7f8;
  height: 100%;
  margin: 0; /* deze heeft ervoor gezorgd dat er geen stuk meer zit tussen het einde van het scherm en de zijbalk*/
}

header {
    background-color: rgb(25, 47, 143);
    text-align: center;
    position: fixed;
    width: 100%;
    margin-top: 0%;
    height: 75px;
    color: rgb(255, 255, 255);
}

img {
    float: left;
    width: 100px;   /* kleiner maken */
    height: auto;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover {
    color: rgb(253, 173, 0);
    text-decoration: underline;
}
input[type=text]{
    float: right;
    margin-right: 30px;
    padding: 6px;
    border: none;
    margin-right: 16px;
    font-size: 17px;
}