body {
  background-color: #f7f7f7f8;
  height: 100%;
  margin: 0; /* deze heeft ervoor gezorgd dat er geen stuk meer zit tussen het einde van het scherm en de zijbalk*/
  font-family: Arial, sans-serif; /* Standaard lettertype */
}

/* --- Navigatie (main) --- */
nav {
  margin:0 auto;
  width:100%;
  height:auto;
  display:inline-block;
  background:#ed7eb4;
  position: relative;
  z-index: 99;
}
.main{
	font-family: 'Sansita Swashed', cursive; 
    color: white;
    text-align: center;
    padding:0;
    margin:0;
    font-size:45px;
    background-color:#ed7eb4;
    border-bottom:2px solid white;
}

nav ul {
  margin:0;
  padding:0;
  list-style-type:none;
  text-align:center;
  display:inline-block;
}

nav ul li {
  position:relative;
  margin:0 20px 0 0;
  text-align:left;
  display:inline-block;
}

li > a:after { content: '  ↓ '; } 
li > a:only-child:after { content: ''; }

nav ul li a {
  padding:20px;
  display:inline-block;
  color:white;
  text-decoration:none;
  font-family: 'Sansita Swashed', cursive; 
	color: white;
	text-align: center;
	font-size: 27px;
}

nav ul li a:hover {
  opacity:0.8;
}

nav ul li ul {
  display:none;
  position:absolute;
  left:0;
  background:#ed7eb4;
  float:left;
  min-width: 150px;
}

nav ul li ul li {
  width:100%;
  border-bottom:1px solid rgba(255,255,255,.3);
}

nav ul li:hover ul {
  display:block;
}

/* --- Algemene Stijlen --- */
img {
    float: left;
    width: 100px;
    height: auto;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255); /* Links in nav zijn wit */
}

a:hover {
    color: rgb(253, 173, 0);
    text-decoration: underline;
}

/* Stijl voor de content buiten de nav */
.content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}